<ion-header translucent="true">
  <ion-toolbar color="primary">
    <ion-title>
      المعقبون
    </ion-title>
    <ion-buttons  slot="end">
      <ion-button [routerLink]="['/notifications']">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content slot="end">
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">اختيار نوع المعاملة</ion-label>
        <ion-select multiple="true" cancelText="الغاء" okText="اختيار">
          <ion-select-option value="bacon">اقامة</ion-select-option>
          <ion-select-option value="olives">زواج</ion-select-option>
          <ion-select-option value="xcheese">طلاق</ion-select-option>
          <ion-select-option value="peppers">ارث</ion-select-option>
          <ion-select-option value="mushrooms">فرز مشاع</ion-select-option>
          <ion-select-option value="bacon">اقامة</ion-select-option>
          <ion-select-option value="olives">زواج</ion-select-option>
          <ion-select-option value="xcheese">طلاق</ion-select-option>
          <ion-select-option value="peppers">ارث</ion-select-option>
          <ion-select-option value="mushrooms">فرز مشاع</ion-select-option>
        </ion-select>
      </ion-item>
      <!-- Default Searchbar -->
      <ion-searchbar></ion-searchbar>
    </ion-card-content>
  </ion-card>

  <ion-list lines="inset">
    <ion-item [routerLink]="['/user']" [queryParams]="{id:'1'}">
      <ion-avatar slot="start">
        <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" class="d-block" />
      </ion-avatar>
      <ion-label>
        <p><b>عرفات</b></p>
        <p>معاملات-ارث-فرز مشاع</p>
      </ion-label>
      <ion-note slot="end">
      <span class="fa fa-star checked "></span>
      <span class="fa fa-star checked "></span>
      <span class="fa fa-star checked "></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      </ion-note>
    </ion-item>
  </ion-list>

  <ion-list lines="inset">
    <ion-item [routerLink]="['/user']" [queryParams]="{id:'1'}">
      <ion-avatar slot="start">
        <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" class="d-block" />
      </ion-avatar>
      <ion-label>
        <p><b>عرفات</b></p>
        <p>معاملات-ارث-فرز مشاع</p>
      </ion-label>
      <ion-note slot="end">
      <span class="fa fa-star checked "></span>
      <span class="fa fa-star checked "></span>
      <span class="fa fa-star checked "></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      </ion-note>
    </ion-item>
  </ion-list>

  <ion-list lines="inset">
    <ion-item [routerLink]="['/user']" [queryParams]="{id:'1'}">
      <ion-avatar slot="start">
        <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" class="d-block" />
      </ion-avatar>
      <ion-label>
        <p><b>عرفات</b></p>
        <p>معاملات-ارث-فرز مشاع</p>
      </ion-label>
      <ion-note solt="end">
      <span class="fa fa-star checked "></span>
      <span class="fa fa-star checked "></span>
      <span class="fa fa-star checked "></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>